/* 전체 헤더 영역 */
div {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  height: 70px;
  background-color: #202224;
  color: #f4f4f4;
  font-family: "Noto Sans KR", sans-serif;
  padding: 40px;
  position: relative;
  border-radius: 20px;
}

/* 로고: 왼쪽 끝 */
.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffd369;
  cursor: pointer;
}

/* 랭킹 + 떠돌이 상인 그룹 */
.middle {
  position: absolute;
  left: 25%;
  transform: translateX(-70%);
  display: flex;
  gap: 40px; /* 둘 사이 간격 */
}

.middle div {
  cursor: pointer;
  font-size: 1.1rem;
  transition: color 0.2s ease;
}

.middle div:hover {
  color: #ffd369;
}

/* 로그인: 오른쪽 끝 */
.login {
  background-color: #202224;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s ease;
  position: relative;
  z-index: 1000; /* ✅ 클릭 가능하게 */
  cursor: pointer;
}

.login:hover {
  color: #ffd369;
}
.login-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.welcome {
  font-size: 1.1rem;
  color: #ffd369;
}

.logout {
  background-color: #303236;
  border: 1px solid #ffd369;
  color: #ffd369;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.logout:hover {
  background-color: #ffd369;
  color: #202224;
}
